{% extends "base.html" %}
{% block content %}
<div class="jumbptron">
  <h1>Welcome to Angela's web page</h1>
  <p>I am currently a student at Quinnipiac University.</p>
  <p>Studying Computer Information Systems.</p>
  <p>Class of 2017.</p>
</div>

<div class="jumbptron">
  <h1>About me</h1>
  <p>My name is Angela Luciano. I went to Platt Technical High School in Milford, CT studyed HVAC, class of 2013.  I am currently a student at Quinnipiac University studying Computer Information Systems class of 2017.  I enjoy spending time with my friends and family, listening to music and learning new things.</p>
{% endblock %}
